* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


#inscription{
  text-decoration: none;
margin-bottom: 25%;
}

.loginIndisp{
  text-shadow:none;
}

.icon{
  width: 50px;
height: 50px;
margin-right: 20px;
}

.descriptionRegle{
  width: 45%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}


a,
a:focus,
a:hover {
  color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; 
  background-color: #fff;
  border: .05rem solid #fff;
}

.grillePays{
  background-color:rgba(200,200,200,0.4);
  margin-bottom: 7px;
  padding: 5px 5px 5px 5px ;
  margin-right:  1%;
  max-width:15%;
}

.selectionPays{
  background-color:rgba(200,200,200,0.4);
  margin-bottom: 7px;
  padding: 5px 5px 5px 5px ;
  margin-right:  1%;
  max-width:15%;
}

.linkpays:hover{
  cursor: pointer;
  background-color:rgba(11,201,224,0.5);
}


html {
  height: 100%;

}

body {

  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-attachment: fixed;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);

  min-height: 100%;  
  background-color: #288aaa;
   box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

 
}

.cover-container {
  max-width: 42em;
  width: 100%;
}

.homePage{
  height: 100%;
}



.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}



.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


.mastfoot {
  color: rgba(255, 255, 255, .5);
  bottom: 0;
  margin-top: 100px;
}



.groupePoule{
  padding: 10px;
   margin-top: 20px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 15px;
  width: 50%;

}

.classementItems{
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(0,0,0,0.4);
  font-size:19px;
  font-weight: bold;

}

.extremity{
  padding: 0;
}
.match div{
  padding: 0;
  margin: 0;
}
.row{
  margin:0;
}

.img_flag{
  width: 20px;
  height: 20px;
}

.nom_pays{
  vertical-align: middle;
  display: block;
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
    margin: 0; 
}

#score{
  width: 20px;
  height: 24px;
  padding-bottom: 3px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 50%;
  text-align: center;
}

.titlePage{
  margin-bottom: 10px;
  margin-top: 50px;
}

.nomUtil{
  text-transform: capitalize;
  color: white;
  text-shadow:none;
}

#form{
  -webkit-appearance:     none;
    -moz-appearance:        none;
    -ms-appearance:         none;
    -o-appearance:          none;
    appearance:             none;
}

.submitButton{
  margin-top: 30px;
  background-color: rgba(0,210,255,0.5);
  border-radius: 20%;
  color: white;
  padding: 10px;
  margin-bottom: 50px;

}
.clotureBoutton{
  background-color: rgba(153,0,51,0.6);
   margin-top: 30px;
  border-radius: 20%;
  color: white;
  padding: 10px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.clotureBoutton:hover{
  cursor: pointer;
  background-color: rgba(153,0,51,1);
}

.submitButton:hover{
  cursor: pointer;
   background-color: rgba(0,210,255,0.9);
}

.linkUtil:hover{
      background-color: rgba(0,231,255,0.7);
      cursor: pointer;
}